In [1]:
import cx_Oracle as cx
conn = cx.connect("campus_b_230329_3","smhrd3","project-db-stu3.ddns.net:1525/XE")

In [2]:
cur = conn.cursor()
cur.execute("select * from T_ALARM") #sql 쿼리 작성
data = []
for c in cur:
    data.append(c)
    print(c)
    
cur.close()
conn.close()

print(data)

('2023-04-04', 's_test11', 'aaaa22', '1', '15:51')
('2023-04-04', 'm_test1', 'd2d2', '1', '16:48')
('2023-04-04', 'm_test3', '5555222', '1', '17:05')
('2023-04-04', 's_test4', '49t', '0', '14:49')
('2023-04-04', 's_test5', '52tt', '0', '14:52')
('2023-04-04', 'm_test1', '21e999', '1', '17:09')
('2023-04-04', 'i152315', '시험중', '0', '00:01')
('2023-04-04', 'S_Test1', '33분 테스트', '1', '14:33')
('2023-04-04', 's_test8', 'wpqkf', '1', '15:29')
('2023-04-04', 's_test14', 'd2', '1', '16:06')
('2023-04-04', 'm_test1', '2020rwer', '1', '17:20')
('2023-04-04', 'stest1', '2626test1', '1', '17:26')
('2023-04-04', 'stest2', '2626test2', '0', '17:26')
('2023-04-04', 'stest3', '27273333', '1', '17:27')
('2023-04-04', 'm_test2', '222ddd', '1', '16:57')
('2023-04-04', 'm_test2', '55353', '1', '17:23')
('2023-04-04', 'S_Test2', '34분테스트', '0', '14:34')
('2023-04-04', 'S_Test3', 'min43', '1', '14:43')
('2023-04-04', 'intest', '3535335535353ddd', '1', '17:35')
('2023-05-03', 'aaa', 'wdq', '1', '00:00')
('2023-04-04', 's_test10', 'ㄷㄹ', '1', '15:43')
('2023-04-04', 's_test13', 'dwq', '1', '16:02')
('2023-04-04', 'm_test2', '1515qqq', '1', '17:15')
('2023-04-04', 's_test6', '15tt', '1', '15:00')
('2023-04-04', 's_test7', '17minTT', '0', '15:17')
('2023-04-04', 's_test9', 'ㅁㅁㅈㅂㅇ', '1', '15:34')
('2023-04-04', 's_test12', '5858', '1', '15:58')
('2023-04-04', 's_test13', None, '1', '16:02')
[('2023-04-04', 's_test11', 'aaaa22', '1', '15:51'), ('2023-04-04', 'm_test1', 'd2d2', '1', '16:48'), ('2023-04-04', 'm_test3', '5555222', '1', '17:05'), ('2023-04-04', 's_test4', '49t', '0', '14:49'), ('2023-04-04', 's_test5', '52tt', '0', '14:52'), ('2023-04-04', 'm_test1', '21e999', '1', '17:09'), ('2023-04-04', 'i152315', '시험중', '0', '00:01'), ('2023-04-04', 'S_Test1', '33분 테스트', '1', '14:33'), ('2023-04-04', 's_test8', 'wpqkf', '1', '15:29'), ('2023-04-04', 's_test14', 'd2', '1', '16:06'), ('2023-04-04', 'm_test1', '2020rwer', '1', '17:20'), ('2023-04-04', 'stest1', '2626test1', '1', '17:26'), ('2023-04-04', 'stest2', '2626test2', '0', '17:26'), ('2023-04-04', 'stest3', '27273333', '1', '17:27'), ('2023-04-04', 'm_test2', '222ddd', '1', '16:57'), ('2023-04-04', 'm_test2', '55353', '1', '17:23'), ('2023-04-04', 'S_Test2', '34분테스트', '0', '14:34'), ('2023-04-04', 'S_Test3', 'min43', '1', '14:43'), ('2023-04-04', 'intest', '3535335535353ddd', '1', '17:35'), ('2023-05-03', 'aaa', 'wdq', '1', '00:00'), ('2023-04-04', 's_test10', 'ㄷㄹ', '1', '15:43'), ('2023-04-04', 's_test13', 'dwq', '1', '16:02'), ('2023-04-04', 'm_test2', '1515qqq', '1', '17:15'), ('2023-04-04', 's_test6', '15tt', '1', '15:00'), ('2023-04-04', 's_test7', '17minTT', '0', '15:17'), ('2023-04-04', 's_test9', 'ㅁㅁㅈㅂㅇ', '1', '15:34'), ('2023-04-04', 's_test12', '5858', '1', '15:58'), ('2023-04-04', 's_test13', None, '1', '16:02')]

In [3]:
import pandas as pd
df=pd.DataFrame(data) #데이터프레임으로 불러오기
print(df)

             0         1                 2  3      4
0   2023-04-04  s_test11            aaaa22  1  15:51
1   2023-04-04   m_test1              d2d2  1  16:48
2   2023-04-04   m_test3           5555222  1  17:05
3   2023-04-04   s_test4               49t  0  14:49
4   2023-04-04   s_test5              52tt  0  14:52
5   2023-04-04   m_test1            21e999  1  17:09
6   2023-04-04   i152315               시험중  0  00:01
7   2023-04-04   S_Test1           33분 테스트  1  14:33
8   2023-04-04   s_test8             wpqkf  1  15:29
9   2023-04-04  s_test14                d2  1  16:06
10  2023-04-04   m_test1          2020rwer  1  17:20
11  2023-04-04    stest1         2626test1  1  17:26
12  2023-04-04    stest2         2626test2  0  17:26
13  2023-04-04    stest3          27273333  1  17:27
14  2023-04-04   m_test2            222ddd  1  16:57
15  2023-04-04   m_test2             55353  1  17:23
16  2023-04-04   S_Test2            34분테스트  0  14:34
17  2023-04-04   S_Test3             min43  1  14:43
18  2023-04-04    intest  3535335535353ddd  1  17:35
19  2023-05-03       aaa               wdq  1  00:00
20  2023-04-04  s_test10                ㄷㄹ  1  15:43
21  2023-04-04  s_test13               dwq  1  16:02
22  2023-04-04   m_test2           1515qqq  1  17:15
23  2023-04-04   s_test6              15tt  1  15:00
24  2023-04-04   s_test7           17minTT  0  15:17
25  2023-04-04   s_test9             ㅁㅁㅈㅂㅇ  1  15:34
26  2023-04-04  s_test12              5858  1  15:58
27  2023-04-04  s_test13              None  1  16:02

In [86]:
conn = cx.connect("campus_b_230329_3","smhrd3","project-db-stu3.ddns.net:1525/XE") 
cs = conn.cursor()
sql = "insert into T_CONCENT (T_CONID,T_DATE,T_ENERGY) values (:1,:2,:3)"
cs.execute(sql,('5','5','5'))
print(cs.rowcount)

cs.close()
conn.commit()
conn.close()

1

In [61]:
conn = cx.connect("campus_b_230329_3","smhrd3","project-db-stu3.ddns.net:1525/XE") 
cs = conn.cursor()
sql = "delete from T_CONCENT where T_DATE = 3"
cs.execute(sql)
print(cs.rowcount)

cs.close()
conn.commit()
conn.close()

1

In [89]:
conn = cx.connect("campus_b_230329_3","smhrd3","project-db-stu3.ddns.net:1525/XE") 
cs = conn.cursor()
sql = "select * from T_CONCENT"
rs = cs.execute(sql)


for record in rs:
    print(record[0])
print(rs.rowcount)

cs.close()
conn.commit()
conn.close()

3
4
5
3

In [ ]:
import sqlite3

class MyDAO:
    def __init__(self, db_file):
        self.conn = sqlite3.connect(db_file)
        self.cursor = self.conn.cursor()
        
    def create_table(self):
        self.cursor.execute('''CREATE TABLE IF NOT EXISTS users 
            (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
        self.conn.commit()

    def insert_user(self, name, age):
        self.cursor.execute('''INSERT INTO users (name, age) 
            VALUES (?, ?)''', (name, age))
        self.conn.commit()

    def get_users(self):
        self.cursor.execute("SELECT * FROM users")
        rows = self.cursor.fetchall()
        return rows

    def update_user_age(self, id, age):
        self.cursor.execute("UPDATE users SET age=? WHERE id=?", (age, id))
        self.conn.commit()

    def delete_user(self, id):
        self.cursor.execute("DELETE FROM users WHERE id=?", (id,))
        self.conn.commit()

    def __del__(self):
        self.conn.close()

In [ ]:
import sqlite3

class MyDAO:
    def __init__(self, db_file):
        self.conn = sqlite3.connect(db_file)
        self.cursor = self.conn.cursor()
        
    def create_table(self):
        self.cursor.execute('''CREATE TABLE IF NOT EXISTS users 
            (id INTEGER PRIMARY KEY, name TEXT, age INTEGER, consent_id INTEGER)''')
        self.conn.commit()

    def insert_user(self, name, age, consent_id):
        self.cursor.execute('''INSERT INTO users (name, age, consent_id) 
            VALUES (?, ?, ?)''', (name, age, consent_id))
        self.conn.commit()

    def get_users(self):
        self.cursor.execute("SELECT * FROM users")
        rows = self.cursor.fetchall()
        return rows

    def update_user_age(self, id, age):
        self.cursor.execute("UPDATE users SET age=? WHERE id=?", (age, id))
        self.conn.commit()

    def delete_user(self, id):
        self.cursor.execute("DELETE FROM users WHERE id=?", (id,))
        self.conn.commit()
    
    def get_users_by_consent_id(self, consent_id):
        self.cursor.execute("SELECT * FROM users WHERE consent_id=?", (consent_id,))
        rows = self.cursor.fetchall()
        return rows

    def __del__(self):
        self.conn.close()