In [11]:
from sklearn.cluster import KMeans
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('power_consumption_data.csv')

In [3]:
data1 = data[['power_consumption']]

In [4]:


# 예시 데이터
# data = [[1], [1.5], [3], [5], [3.5], [4], [3.8], [6], [8], [7.5], [9]]

# KMeans 모델 초기화
kmeans = KMeans(n_clusters=3, random_state=0)

# 모델 학습
kmeans.fit(data1)

# 클러스터링 결과 출력
clust_list = []
for i, label in enumerate(kmeans.labels_):
    clust_list.append(label+1)

In [5]:
clust_s = pd.Series(clust_list)
clust_s.name = "power_clust"

In [6]:
clust_s.value_counts()

2    30600
1     6323
3     6277
Name: power_clust, dtype: int64

In [7]:
rs = pd.concat([data, clust_s], axis = 1)

In [17]:
rs

                  datetime  power_consumption  power_clust
0      2023-03-01 00:00:00           6.980809            2
1      2023-03-01 00:01:00          -2.652386            2
2      2023-03-01 00:02:00           2.013183            2
3      2023-03-01 00:03:00           3.284021            2
4      2023-03-01 00:04:00          -0.092978            2
...                    ...                ...          ...
43195  2023-03-30 23:55:00           0.167326            2
43196  2023-03-30 23:56:00           6.907141            2
43197  2023-03-30 23:57:00           9.159460            2
43198  2023-03-30 23:58:00          -1.909573            2
43199  2023-03-30 23:59:00          -0.493274            2

[43200 rows x 3 columns]